{{ define "Budget" }}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<!-- script type="text/javascript" src="./link.js"></script -->
		<link rel="stylesheet" href="/static/navbar.css">
		<script src="/static/transactions.js" ></script>
		<link rel="stylesheet" href="/static/transactions.css"></link>
	</head>
	<body>
		<p>Current budget: {{.CurrentBudget}}</p>
		<form method="POST">
			<label>
				Budget: <input type="number" name="amount"/>
			</label>
			<button action="submit">Submit</button>
		</form>
	</body>
</html>
{{ end }}
