{{define "Home"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<!-- script type="text/javascript" src="./link.js"></script -->
		<link rel="stylesheet" href="/static/navbar.css">
		<script src="/static/transactions.js" ></script>
		<script src="https://kit.fontawesome.com/ac7bc0ef40.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/static/transactions.css"></link>
	</head>
	<body>
		{{template "Navbar" .}}
		<p>budget: {{.Budget}}</p>
		<p>spent: {{.Spent}}</p>
		<hr>
		{{template "Transactions" .}}
		{{if .MoreTransactions}}
		<a href="/home/{{.UserId}}?allTransactions=true">See all transactions</a>
		{{end}}
	</body>
</html>
{{end}}
