{{define "Home"}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<!-- script type="text/javascript" src="./link.js"></script -->
		<link rel="stylesheet" href="/static/navbar.css">
		<script src="/static/transactions.js" ></script>
		<style>
			.dropdown {
				display: inline-block;
				position: relative;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				z-index: 1;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				background-color: #f9f9f9;
				min-width: 100px;
			}

			.dropdown-content label {
				display: block;
				white-space: nowrap;
				margin-top: .2em;
			}


		</style>
	</head>
	<body>
		{{template "Navbar" .}}
		<p>budget: {{.Budget}}</p>
		<p>spent: {{.Spent}}</p>
		<hr>
		<button onclick="filterCategories()">Filter Transactions</button>
		<div class="dropdown">
			<button onclick="showDropdown()">Filter Categories</button>
			<div class="dropdown-content">
				{{range .Categories}}
				<label><input type="checkbox" name="categories" value="{{.}}" checked>{{.}}</label>
				{{ end }}
			</div>

		</div>
		{{template "Transactions" .}}
		{{if .MoreTransactions}}
		<a href="/home/{{.UserId}}?allTransactions=true">See all transactions</a>
		{{end}}
	</body>
</html>
{{end}}
