{{define "Navbar"}}
<div class="topnav">
  {{if (eq .Page "home")}} 
  <a class="active" href="/home/{{.UserId}}">Home</a>
  {{else}}
  <a href="/home/{{.UserId}}">Home</a>
  {{end}}
  {{if (eq .Page "accounts")}} 
  <a class="active" href="/accounts/{{.UserId}}">Accounts</a>
  {{else}}
  <a href="/accounts/{{.UserId}}">Accounts</a>
  {{end}}
  {{if (eq .Page "budget")}} 
  <a class="active" href="/budget/{{.UserId}}">Budget</a>
  {{else}}
  <a href="/budget/{{.UserId}}">Budget</a>
  {{end}}
  <a href="/link/{{.UserId}}">Link New Account</a>
</div> 
{{end}}
