{{ define "Transactions" }}
	<div class="dropdown">
		<button onclick="showDropdown()">Filter Categories</button>
		<div class="dropdown-content">
			{{range .Categories}}
			<label><input type="checkbox" name="categories" value="{{.}}" checked>{{.}}</label>
			{{ end }}
		</div>

	</div>
	<table>
		<tr>
			<th class="col-date">Date</th>
			<th class="col-account-name">Account Name</th>
			<th class="col-category">Category</th>
			<th class="col-amount">Amount</th>
		</tr>
	{{ range .Transactions }}
		<tr data-category="{{.CategoryDetailed}}">
			<td class="col-date">{{.AuthorizedDttm}}</td>
			<td class="col-account-name">{{.AccountName}}</td>
			<td class="col-category">{{.CategoryDetailed}}</td>
			<td class="col-amount">{{.Amount}}</td>
		</tr>
	{{ else }}
		<tr>
			<td colspan="4">No transactions available</td>
		<tr>
	{{ end }}
	</table>
{{ end }}

